{{!
    This file is part of the format_wplist plugin for Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_wplist/local/content

    This template renders action menu for each course.

    Example context (json):
    {
        "uniqid": 123456,
        "completioninfo": "completion help icon html",
        "courseactivityclipboard": "course activity clipboard html",
        "courseid": 3,
        "editing": true,
        "contextid": 2,
        "pagetitle": "Topics outline",
        "sections": [
            {
                "sectionnumber": 1,
                "visible": true,
                "mutedsection": false,
                "editing": true,
                "move": true,
                "availableinfo": true,
                "availabilitymsg": "Not available untill you complete..",
                "name": "Section 1",
                "completion": "<progress>..</progress>",
                "editsection": "<div class='dropdown'>..</div>",
                "expandbtn": true,
                "summary": "This is section 2",
                "accordion": false,
                "coursemodules": "Course modules HTML"
            }
        ]
    }
}}

<div id="format-wplist-{{uniqid}}" class="formatwplistcontent">
    <h2 class="accesshide">{{{pagetitle}}}</h2>
    <div class="accordion" id="formatwplist" data-region="section-container" data-is-root="1" data-courseid="{{courseid}}">
        {{#sections}}
            {{> format_wplist/local/content/section }}
        {{/sections}}
    </div>
    {{#addsection}}
        <div class="addsectionwrapper">
            {{{addsection}}}
        </div>
    {{/addsection}}
</div>
{{#js}}
require(
[
    'jquery',
    'format_wplist/main',
],
function(
    $,
    Main
) {
    var root = $('#format-wplist-{{uniqid}}');
    Main.init(root, {{contextid}});
});
{{/js}}
